Package: urlscan
Version: 0.5.6-0.1ubuntu0
Architecture: all
Maintainer: Daniel Burrows <dburrows@debian.org>
Installed-Size: 116
Depends: python, python-central (>= 0.6.11), python-urwid
Suggests: mutt, www-browser
Section: mail
Priority: optional
Description: Extract and browse the URLs contained in an email (urlview replacement)
 urlscan searches for URLs in email messages, then displays a list of
 them in the current terminal.  It is primarily meant as a replacement
 for urlview, which it improves upon in the following ways:
 .
  * urlscan understands email encodings such as quoted-printable;
    urlview does not.
  * urlscan extracts and displays the context surrounding each URL.
Python-Version: current
